.aboutContent-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.aboutContent-top {
  width: 340px;
  height: 350px;
  overflow: hidden;
  border-radius: 10%;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutContent-foot {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.aboutContent-foot-title {
  margin-bottom: 20px;
  font-size: 20px;
}

.aboutContent-desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.aboutContent-desc-title {
  font-size: 19px;
}

/* Mobile (최대 768px) */
@media (max-width: 768px) {
  .aboutContent-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .aboutContent-top {
    width: 230px;
    height: 240px;
  }

  .aboutContent-foot {
    width: 100%;
    text-align: center;
  }

  .aboutContent-foot-title {
    font-size: 18px;
  }

  .aboutContent-desc-title {
    font-size: 17px;
  }
}

/* Tablet (769px ~ 1200px) */
@media (min-width: 769px) and (max-width: 1200px) {
  .aboutContent-wrapper {
    gap: 40px;
  }

  .aboutContent-top {
    width: 320px;
    height: 330px;
  }

  .aboutContent-foot-title {
    font-size: 19px;
  }

  .aboutContent-desc-title {
    font-size: 18px;
  }
}
