.board-content-page {
  width: 980px;
  margin: 0 auto;
}

.board-content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  padding: 24px;
  margin-top: 20px;
}

.board-content-detail-header {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.board-content-detail-header-link {
  font-size: 16px;
  color: #6e6e6e;
  font-weight: 700;
}

.board-content-detail-header-title {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 700;
}

.board-content-detail-header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.board-content-detail-header-nickname {
  font-size: 14px;
  color: #3a3a3a;
  font-weight: 700;
}

.board-content-detail-header-date {
  font-size: 12px;
  line-height: 20px;
  color: #999;
  font-weight: 400;
}

.board-content-detail-body {
  padding-top: 32px;
  word-break: normal;
  word-wrap: break-word;
  min-height: 200px;
}

.board-content-detail-footer {
  margin-top: 40px;
}

.board-content-reply {
  height: 110px;
  width: 100%;
  border-radius: 4px;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 8px;
  margin-top: 4px;
  white-space: pre-wrap;
}

.board-content-detail-footer-header {
  margin-bottom: 8px;
}

.board-content-detail-footer-body {
  word-break: normal;
  word-wrap: break-word;
}

.board-content-reply-nickname {
  margin-top: 4px;
}

.board-content-reply-button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}

.board-content-reply-button {
  display: flex;
  width: 100px;
  height: 40px;
  transform: rotate(-0.068deg);
  padding: 0 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: rgb(109, 106, 264);
  border: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.board-content-reply-button:hover {
  background-color: rgb(84, 81, 203);
  cursor: pointer;
}

.board-content-replies {
  margin-top: 16px;
  padding: 0 16px;
}

.board-reply-item {
  padding: 24px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.board-content-reply-caution {
  font-size: 14px;
  color: gray;
}

.board-reply-nickname {
  font-size: 14px;
  font-weight: 700;
}

.board-reply-date {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #999999;
}
