.projectListContent {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 30px 60px;
  background-color: #f9f9f9;
}

.projectListTitle {
  margin-bottom: 20px;
}

.projectListContainer {
  width: 100%;
  height: 350px;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.image-wrapper {
  position: relative;
  width: 20%;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: none;
}

.image-wrapper:hover {
  width: 25%;
}

.image-wrapper:hover .detail-button-hover {
  opacity: 1;
}

.image-wrapper:hover .project-detail-button {
  opacity: 1;
}

.detail-button-hover {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  white-space: nowrap;
}

.project-detail-button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
}

.projectList-wapper {
  justify-items: center;
  background-color: white;
}

.project-summation {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-weight: 800;
  font-size: 24px;
  white-space: nowrap;
  color: white;
}

.image-wrapper:hover .project-summation {
  opacity: 1;
}

.project-technology {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-weight: 600;
  color: white;
}

.image-wrapper:hover .project-technology {
  opacity: 1;
}
