.projectListBox {
  background-color: #f7f7f7;
}

.projectListContent {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 30px 60px;
  background-color: #f7f7f7;
}

.projectListTitle {
  margin-bottom: 20px;
}

.projectListContainer {
  width: 100%;
  height: 350px;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.projectList-wapper {
  justify-items: center;
  background-color: white;
}
