@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU&display=swap");

.board-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.board-logoText {
  font-family: "Playwrite CU";
  font-size: 35px;
}

.board-details {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  gap: 5px;
  margin-top: 8px;
}
