.login-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 30px;
  width: 100%;
  z-index: 99;
}

.login-form {
  display: flex;
}

.login-input {
  width: 200px;
  height: 40px;
  border: 2px solid #6d6aff;
  border-radius: 10px 0px 0px 10px;
  padding: 0 10px;
}

.login-button {
  height: 40px;
  padding: 0 20px;
  background-color: #6d6aff;
  border: 2px solid #6d6aff;
  border-radius: 0px 10px 10px 0;
  cursor: pointer;
  font-size: 11px;
  color: white;
  font-weight: 600;
}

.login-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
